---
import Header from '../../components/Header.astro';
import Base from '../../layouts/Base.astro';
import Card from '../../components/Card.astro';
import { getOffres } from '../../backend.mjs';

const offres = await getOffres();
console.log(offres);
---
<Base>
    <h1 class="text-4xl font-bold text-center text-gray-800 my-8">Offres</h1>
        <div x-data="{ showFavorites: false }">
            <button @click="showFavorites = !showFavorites">
                <span x-show="!showFavorites">Afficher les favoris</span>
                <span x-show="showFavorites">Afficher tout</span>
            </button>
        
            <div x-show="!showFavorites">
                {offres.map((offre) => <Card {...offre} />)}
            </div>
            <div x-show="showFavorites">
                {offres.map((offre) => offre.favori && <Card {...offre}/>)}
            </div>
        </div>
</Base>