---
import Header from '../../components/Header.astro';
import Base from '../../layouts/Base.astro';
import Card from '../../components/Card.astro';
import { getOffres } from '../../backend.mjs';
import { filterByPrix } from '../../backend.mjs';

let message = '';
let offres = [];
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        offres = await filterByPrix(minPrix, maxPrix);
		if(offres.length === 0) {
			message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
		} else {
        	message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`
		}
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
        offres = await getOffres();
    }
    } else {
    offres = await getOffres();
    }
---

<Base>
    <h1 class="text-4xl font-bold text-center text-gray-800 my-8">Offres</h1>
        <div x-data="{ showFavorites: false }">
            <button @click="showFavorites = !showFavorites">
                <span x-show="!showFavorites">Afficher les favoris</span>
                <span x-show="showFavorites">Afficher tout</span>
            </button>
        
            <div x-show="!showFavorites">
                {offres.map((offre) => <Card {...offre} />)}
            </div>
            <div x-show="showFavorites">
                {offres.map((offre) => offre.favori && <Card {...offre}/>)}
            </div>
        </div>
</Base>
<form action="/offres" method="POST">
    <input type="number" name="minPrix" placeholder="Prix minimum" />
    <input type="number" name="maxPrix" placeholder="Prix maximum" />
    <input type="submit" value="Filtrer par prix" />
</form>
